$media-wide: "(min-width: 1025px)";
$media-narrow: "(max-width: 1025px)";

$orange: rgb(255, 73, 27);

$title_height: 30px;

/********* LAYOUT **********/



@media #{$media-wide} {

    #content {
        padding-top: 3vw;
        padding-left: 5vw;
        display: flex;
        flex-direction: row;
        & > * {
        }
    }

    main {
    }

}



/********** STYLING **********/

html {
    font-size: 100%;
    background-color: rgb(94, 94, 94);
    color: #FFF;
    font-family: "Karla", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;


    @media #{$media-wide} {
    }
    @media #{$media-narrow} {
    }

}

a {
    color: rgb(204, 204, 204);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin-top: 0px;
}

img {
    max-width: 100%;
}

main {
    margin-top: $title-height;
    padding-top: 5px;
    @media #{$media-wide} {
        max-width: 70vw;
    }
    @media #{$media-narrow} {
    }
}


#header {
    @media #{$media-wide} {
    }
    @media #{$media-narrow} {
    }
}

header {
    h1 {
        margin-top: 0px;
    }
}

#site_title {
    font-weight: bold;
    text-align: left;
    @media #{$media-wide} {
        height: $title_height;
        width: 180px;
        text-align: right;
    }
    @media #{$media-narrow} {
        text-align: center;
    }
}

#logo_img {
    max-width: 150px;
}







/************** NAV ************/

nav {
    @media #{$media-wide} {
        max-width: 30vw;
    }
}


#menus {

    @media #{$media-wide} {
        display: flex;
        flex-direction: row;
        
        & > * {
        }

        margin-right: 30px;

    }
    @media #{$media-narrow} {
        width: 100%;
    }
}


.menu, .submenu {
    list-style: none;
    font-style: italic;
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 0px;
    text-transform: lowercase;
    margin: 0px;
}


#main_menu {

    .menu-item {
        &.is-active * {
            color: $orange !important;
            font-weight: bold;
        }
    }

    @media #{$media-wide} {
        text-align: right;
        width: 180px;
        flex-shrink: 0;
    }
    @media #{$media-narrow} {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .menu-item {
            display: inline;
            &:not(:last-child):after {
                content: " "
            }
            padding: 0px 11px;
        }
    }
}


.submenu {
    .active {
        color: $orange;
        font-weight: bold;
    }

    body.gallery & {
        display: flex;
    }

    @media #{$media-wide} {
        text-align: center;
        flex-direction: column;
    }
    @media #{$media-narrow} {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        li {
            display: inline;
            &:not(:last-child):after {
                content: "/"
            }
        }
    }
}

.submenu.gallery_years {
    @media #{$media-wide} {
        width: 80px;
    }
}

.submenu.exhibitions {
    @media #{$media-wide} {
        width: 200px;
    }
}

/************* ARTWORK *************/


.artwork {

    .artwork_image img {
        width: 100% !important;
    }

    .artwork_text {
        font-size: 0.8rem;
        text-align: right;
    }

    margin-bottom: 100px;
}

/************* BIBLIO *************/

.biblio {

    .article {
        margin-bottom: 10px;
    }

}
